In [2]:

class Swap
{
    public static void main(String args[])
    {
        int x=7,y=9,z;
        z=x;
        x=y;
        y=z;
        System.out.println("X: "+x+"Y:"+y);
       }
 }

SyntaxError: invalid syntax (<ipython-input-2-f8397ea64012>, line 2)

In [3]:
x,y=10,20
x,y=y,x
print(x,"",y)

20  10

In [4]:
x=7

In [5]:
print(x)
print(type(x))

7
<class 'int'>

In [6]:
x=8.9

In [7]:
print(x)
print(type(x))

8.9
<class 'float'>

In [8]:
x='Hello'
y="Hello"
print(type(x))
print(type(y))

<class 'str'>
<class 'str'>

In [9]:
x='''
hiiiii
hello
bye
'''
print(x)
print(type(x))

hiiiii
hello
bye

<class 'str'>

In [10]:
type(True)

bool

In [11]:
type(False)

bool

In [12]:
#single Line comment
'''multiline'''

'multiline'

In [13]:
x

'\nhiiiii\nhello\nbye\n'

In [14]:
for i in range(0,5)
    print(i)

SyntaxError: invalid syntax (<ipython-input-14-9404e8bea4b1>, line 1)

In [15]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [16]:
def main():
    print("Hello")
main()

Hello

In [17]:
print(__name__)

__main__

In [18]:
a=[1,2,3,4,"abc",5.8]
type(a)

list

In [19]:
len(a)

6

In [20]:
for i in a:
    print(i)

1
2
3
4
abc
5.8

In [21]:
for e,i in enumerate(a):
    print(i)

1
2
3
4
abc
5.8

In [22]:
for e,i in enumerate(a):
    print(e,":",i)

0 : 1
1 : 2
2 : 3
3 : 4
4 : abc
5 : 5.8

In [23]:
for e,i in enumerate(a,3):
    print(e,":",i)

3 : 1
4 : 2
5 : 3
6 : 4
7 : abc
8 : 5.8

In [24]:
a=[1,2,3,3,4,5,5,6,7,7,55,6,7,8]
set(a)

{1, 2, 3, 4, 5, 6, 7, 8, 55}

In [25]:
{1,2,4,3,5,4,4}

{1, 2, 3, 4, 5}

In [26]:
d={
    "name":"asmi",
    "class":"teit-b",
    "age":20
}
type(d)

dict

In [27]:
print(d)

{'name': 'asmi', 'class': 'teit-b', 'age': 20}

In [28]:
d.keys()

dict_keys(['name', 'class', 'age'])

In [29]:
d.values()

dict_values(['asmi', 'teit-b', 20])

In [30]:
for key,value in d.items():
    print(key,"=",value)

name = asmi
class = teit-b
age = 20

In [32]:
for key,value in d.items():
    print("{} is equal to {}".format(key,value))

name is equal to asmi
class is equal to teit-b
age is equal to 20

In [33]:
# set
a=[1,2,3,4,5,6,5,4,6,2,2]
print(min(a))
print(max(a))
set(a)

1
6

{1, 2, 3, 4, 5, 6}